In [1]:
print('hello')

hello

In [2]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd

Matplotlib is building the font cache; this may take a moment.

In [3]:
from datetime import date

In [4]:
df = pd.read_csv(r"C:\Users\dell\Downloads\AcademicPerformance.csv")

In [5]:
print(df)

      gender race/ethnicity parental level of education         lunch  \
0     female        group B           bachelor's degree      standard
1     female        group C                some college      standard
2     female        group B             master's degree      standard
3       male        group A          associate's degree  free/reduced
4       male        group C                some college      standard
...      ...            ...                         ...           ...
2235     NaN            NaN                         NaN           NaN
2236     NaN            NaN                         NaN           NaN
2237     NaN            NaN                         NaN           NaN
2238     NaN            NaN                         NaN           NaN
2239     NaN            NaN                         NaN           NaN

     test preparation course  Year_Birth  math score reading score  \
0                       none      1970.0        72.0            72
1                  completed      1961.0         NaN            na
2                       none      1958.0        90.0            95
3                       none      1967.0         NaN           NaN
4                       none      1989.0        76.0            78
...                      ...         ...         ...           ...
2235                     NaN         NaN         NaN           NaN
2236                     NaN         NaN         NaN           NaN
2237                     NaN         NaN         NaN           NaN
2238                     NaN         NaN         NaN           NaN
2239                     NaN         NaN         NaN           NaN

     writing score Dt_Admission College_Fees
0               74      6/16/14  $84,835.00
1                A      6/15/14  $57,091.00
2               93      5/13/14  $67,267.00
3               44   05-11-2014  $32,474.00
4               75   04-08-2014  $21,474.00
...            ...          ...          ...
2235           NaN          NaN          NaN
2236           NaN          NaN          NaN
2237           NaN          NaN          NaN
2238           NaN          NaN          NaN
2239           NaN          NaN          NaN

[2240 rows x 11 columns]

In [6]:
print(df['math score'])

0       72.0
1        NaN
2       90.0
3        NaN
4       76.0
        ...
2235     NaN
2236     NaN
2237     NaN
2238     NaN
2239     NaN
Name: math score, Length: 2240, dtype: float64

In [7]:
print(df['math score'].isnull())

0       False
1        True
2       False
3        True
4       False
        ...
2235     True
2236     True
2237     True
2238     True
2239     True
Name: math score, Length: 2240, dtype: bool

In [8]:
print(df['reading score'])

0        72
1        na
2        95
3       NaN
4        78
       ...
2235    NaN
2236    NaN
2237    NaN
2238    NaN
2239    NaN
Name: reading score, Length: 2240, dtype: object

In [9]:
print(df['reading score'].isnull())

0       False
1       False
2       False
3        True
4       False
        ...
2235     True
2236     True
2237     True
2238     True
2239     True
Name: reading score, Length: 2240, dtype: bool

In [10]:
missing_values = ["n/a", "na", "--"]
df = pd.read_csv(r"C:\Users\dell\Downloads\AcademicPerformance.csv", na_values=missing_values)

In [11]:
print(df)

      gender race/ethnicity parental level of education         lunch  \
0     female        group B           bachelor's degree      standard
1     female        group C                some college      standard
2     female        group B             master's degree      standard
3       male        group A          associate's degree  free/reduced
4       male        group C                some college      standard
...      ...            ...                         ...           ...
2235     NaN            NaN                         NaN           NaN
2236     NaN            NaN                         NaN           NaN
2237     NaN            NaN                         NaN           NaN
2238     NaN            NaN                         NaN           NaN
2239     NaN            NaN                         NaN           NaN

     test preparation course  Year_Birth  math score  reading score  \
0                       none      1970.0        72.0           72.0
1                  completed      1961.0         NaN            NaN
2                       none      1958.0        90.0           95.0
3                       none      1967.0         NaN            NaN
4                       none      1989.0        76.0           78.0
...                      ...         ...         ...            ...
2235                     NaN         NaN         NaN            NaN
2236                     NaN         NaN         NaN            NaN
2237                     NaN         NaN         NaN            NaN
2238                     NaN         NaN         NaN            NaN
2239                     NaN         NaN         NaN            NaN

     writing score Dt_Admission College_Fees
0               74      6/16/14  $84,835.00
1                A      6/15/14  $57,091.00
2               93      5/13/14  $67,267.00
3               44   05-11-2014  $32,474.00
4               75   04-08-2014  $21,474.00
...            ...          ...          ...
2235           NaN          NaN          NaN
2236           NaN          NaN          NaN
2237           NaN          NaN          NaN
2238           NaN          NaN          NaN
2239           NaN          NaN          NaN

[2240 rows x 11 columns]

In [12]:
print(df['reading score'])

0       72.0
1        NaN
2       95.0
3        NaN
4       78.0
        ...
2235     NaN
2236     NaN
2237     NaN
2238     NaN
2239     NaN
Name: reading score, Length: 2240, dtype: float64

In [13]:
print(df['reading score'].isnull())

0       False
1        True
2       False
3        True
4       False
        ...
2235     True
2236     True
2237     True
2238     True
2239     True
Name: reading score, Length: 2240, dtype: bool

In [14]:
print(df['math score'])

0       72.0
1        NaN
2       90.0
3        NaN
4       76.0
        ...
2235     NaN
2236     NaN
2237     NaN
2238     NaN
2239     NaN
Name: math score, Length: 2240, dtype: float64

In [15]:
print(df['math score'].isnull())

0       False
1        True
2       False
3        True
4       False
        ...
2235     True
2236     True
2237     True
2238     True
2239     True
Name: math score, Length: 2240, dtype: bool

In [16]:
dataset = [11,41,20,3,101,55,68,97,99,6]
print(sorted(dataset))

[3, 6, 11, 20, 41, 55, 68, 97, 99, 101]

In [ ]:
quantile1, quantile3 = np.percentile(dataset, [25,75])
print(quantile1,quantile3)

13.25 89.75

In [18]:
iqr_value = (quantile3 - quantile1)
print(iqr_value)

76.5

In [19]:
lower_bound = quantile1 - 1.5 * iqr_value
upper_bound = quantile3 + 1.5 * iqr_value
print(lower_bound, upper_bound)

-101.5 204.5

In [20]:
df['age'] = date.today().year - df['Year_Birth']

In [21]:
df['Year'] = pd.DatetimeIndex(df['Dt_Admission']).year

In [22]:
df['E_L'] = date.today().year - df['Year']

In [23]:
df['Fees$'] = df['College_Fees'].str.replace(',', '', regex=False)\
                                .str.replace('$', '', regex=False)\
                                .astype(float)
df['Fees_M$'] = df['Fees$'].apply(lambda X: round(X / 1000000))

ValueError: cannot convert float NaN to integer

In [24]:
print(df['College_Fees'].head(10))

0    $84,835.00
1    $57,091.00
2    $67,267.00
3    $32,474.00
4    $21,474.00
5    $71,691.00
6    $63,564.00
7    $44,931.00
8    $65,324.00
9    $65,324.00
Name: College_Fees, dtype: object

In [ ]:

df['Fees$'] = df['College_Fees'].astype(str) \
                                .str.replace(',', '', regex=False) \
                                .str.replace('$', '', regex=False) \
                                .str.strip() \
                                .astype(float)

In [29]:
df['Fees_M$'] = df['Fees$'].apply(lambda x: round(x / 1_000_000, 2))

In [30]:
print(df.head(5))

   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test preparation course  Year_Birth  math score  reading score  \
0                    none      1970.0        72.0           72.0
1               completed      1961.0         NaN            NaN
2                    none      1958.0        90.0           95.0
3                    none      1967.0         NaN            NaN
4                    none      1989.0        76.0           78.0

  writing score Dt_Admission College_Fees   age    Year   E_L    Fees$  \
0            74      6/16/14  $84,835.00   55.0  2014.0  11.0  84835.0
1             A      6/15/14  $57,091.00   64.0  2014.0  11.0  57091.0
2            93      5/13/14  $67,267.00   67.0  2014.0  11.0  67267.0
3            44   05-11-2014  $32,474.00   58.0  2014.0  11.0  32474.0
4            75   04-08-2014  $21,474.00   36.0  2014.0  11.0  21474.0

   Fees_M$
0     0.08
1     0.06
2     0.07
3     0.03
4     0.02